<head>

</head>

<body>
    HELLO <%=username%>
        <ul>
            <% costomers.map((i)=>{ %>
                <li>
                    <%=i%>
                </li>
                <%}) %>
        </ul>
</body>